{% load static %}
<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>PT.YND PLANNING INDONESIA</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/small-business.css" rel="stylesheet">
  </head>

<body class="bg-light" style="	background-image: linear-gradient(to bottom, #FFFFFF, #0057BD);
  background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="	background-image: linear-gradient(to bottom, #0057BD, rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img src="https://i.ibb.co/RT9P3jL/Screen-Shot-2020-01-06-at-13-09-16.png" width="30" height="30" class="d-inline-block align-top" alt=""></div>
      </div><a class="navbar-brand" href="/Homepage">PT YND PLANNING INDONESIA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/Homepage">Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Tentang">Tentang Kami</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/Gallery">Gallery</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <div class="container">
    <ul class="breadcrumb bg-primary text-light" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
      <li><a href="/Homepage" class="text-light">Home / </a></li>
      <li><a href="#" class="text-light">&nbsp;Tentang / </a></li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="">Tentang Kami</h3>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-3 bg-light col-md-3" style="box-shadow: blue 0px 0px 4px;">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item active"> <a href="" class=" nav-link" data-toggle="pill" data-target="#tabone">Visi dan Misi</a> </li>
          <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo">Struktur Organisasi</a> </li>
          <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabthree"> Tenant</a> </li>
          <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabfour"> Sejarah Pendirian</a> </li>
        </ul>
      </div>
      <div class="col-9 bg-light col-md-9" style="	box-shadow: 0px 0px 4px  blue;">
        <div class="tab-content">
          <div class="tab-pane fade show active in" id="tabone" role="tabpanel">
            <h3> Visi dan Misi </h3>
            <p> Pengembangan operasional PT. YND PLANNING INDONESIA selalu berpedoman pada visi dan misi yang membantu Perusahaan tetap fokus dalam meraih pencapaian keberhasilan. Visi dan misi ini membantu PT. YND PLANNING INDONESIA untuk selalu berupaya mencapai idealisme dengan mengingatkan manajemen serta karyawan bahwa mereka bekerja sama demi tujuan-tujuan yang sama, yang akan menjadi sumbangan dalam keberhasilan jangka panjang Perusahaan.</p>
            <h3> Visi </h3>
            <p> Menjadi perusahaan terdepan dan terkemuka di Indonesia dalam bidang Property </p>
            <h3> Misi </h3>
            <p> Mengelola dan mengembangkan perusahaan yang didukung oleh sumber daya manusia yang professional, serta memberikan pelayanan yang nyaman dan aman kepada setiap konsumen / pelanggan, dan menjaga kualitas layanan dengan prinsip efektif dan efesien guna kepuasan pelanggan guna meningkatkan kontribusi positif kepada masyarakat dan lingkungan.</p>
          </div>
          <div class="tab-pane fade" id="tabtwo" role="tabpanel">
            <h3 class="">Struktur Organisasi</h3><img class="img-fluid d-block " src="{% static 'img/Struktur.png' %}" width="2000" height="2000">
          </div>
          <div class="tab-pane fade" id="tabthree" role="tabpanel">
            <h3> Tenant</h3>
            <h6 class="">1.PT SHOPIE PARIS</h6><img class="d-block" src="{% static 'img/Shophie.png' %}">
            <p class="">Sophie Paris adalah sebuah Online to Offline Social Shopping Platform yang menawarkan produk eksklusif berdesain Prancis. Perusahaan ini mendistribusikan tas, aksesori mode, dan kosmetik dengan metode penjualan langsung, berbasis MLM. 
            PT.Sophie Paris Indonesia menyewa ruang kerja +/- 4000m2 sejak tahun Juni 2018 dengan karyawan 150-200 orang. </p>
            <h6 class="">2.PT. Brunbrun Retailindo Sejahtera</h6><img class="d-block" src="{% static 'img/BrunBrun.png' %}">
            <p class="">PT BrunBrun merupakan perusahaan yang bergerak di bidang retail yang menjual produk yang diproduksi dengan kualitas yang sangat dijaga dan dengan design yang terinspirasi dari Perancis, sebagai pusat fashion dan design dunia. 
            PT BrunBrun menyewa ruang kerja 350m2 dengan jumlah karyawan 35-50 orang.</p>
            <h6 class="">3.PT. Biwel Sukses Bersama</h6><img class="d-block" src="{% static 'img/Biwel.png' %}">
            <p class="">Perusahaan yang bergerak di bidang manajemen investasi properti untuk hotel, gudang, dan perumahan.
             PT Biwel Sukses Bersama menyewa ruang kerja 50m2 sejak tahun 2018 dengan jumlah karyawan 20-35 orang.</p>
             <h6 class="">4.PT. Mac Sarana Djaya</h6><img class="d-block" src="{% static 'img/Macsarjana.png' %}">
            <p class="">PT MAC Sarana Djaya adalah penyedia hosting netral terbesar untuk solusi caupan telekomunikasi indoor di Indonesia. 
            PT MAC Sarana Djaya kini memiliki hak eksklusif untuk lebih dari 580 gedung di Indonesia dan menyewakan infrastruktur Sistem Antena terdistribusinya (DAS) ke semua operator seluler di Indonesia.</p>
            <h6 class="">5.PT Buma Apparel Industry</h6><img class="d-block" src="{% static 'img/Bumaapparel.png' %}">
            <p class="">PT Buma Apparel Industri merupakan perusahan yang bergerak dibidang fashion dan mempunyai pabrik garment di Subang, Jawa Barat.
             PT Buma Apparel Industry menyewa 700m2 sejak Maret 2018 dengan karyawan sejumlah 35-50 orang.</p>
          </div>
          <div class="tab-pane fade" id="tabfour" role="tabpanel">
            <h3> Sejarah Pendirian</h3>
            <p> PT. YND PLANNING INDONESIA adalah Suatu Perseroan Terbatas yang didirikan berdasarkan Hukum yang berlaku di Indonesia dengan status Penanaman Modal Asing (PMA) yang didirikan pada tahun 2018, PT. YND PLANNING INDONESIA bergerak dalam bidang Property yang dimiliki sendiri dan atau disewakan, selain itu bidang usaha lainnya adalah Konstruksi Bangunan dan Perdagangan Besar .</p>
            <p>Saat ini PT. YND PLANNING INDONESIA memiliki dua gedung mewah di daerah Jakarta Selatan yaitu HWA TOWER yang terletak di Jl. Ciputat Raya No. 123 Kel. Pondok Pinang Kec. Kebayoran Lama Jakarta Selatan dan SEYEON BUILDING yang terletak di Jl. Adhyaksa Raya No. 33 Kel. Lebak Bulus Kec. Cilandak Jakarta Selatan. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Navigation -->
  <br>
  <br>
  <!-- Page Content -->
  <div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <!-- /.col-lg-8 -->
    </div>
  </div>
  <br>
  <!-- /.container -->
  <!-- Footer -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
 </body>
 <footer style="	background-image: linear-gradient(to bottom, #0057BD, rgba(0, 0, 0, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="py-3 bg text-light" style="">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-6 p-3">
            <h3 class="">PT.YND PLANNING INDONESIA</h3>
            <p style="" contenteditable="true">Jl.Adhyaksa Raya No.33 RT.007/RW.007<br>Kelurahan Lebak Bulus,Kecamatan Cilandak<br>Jakarta Selatan<br> Jl.Ciputat Rata.No.123.RT.001/RW.008,&nbsp;<br>Kelurahan Pondok Pinang,Kecamatan Kebayoran Lama<br>Jakarta Selatan 12310<br></p>
          </div>
          <div class="col-md-6 p-3">
            <h5> <b>Contact</b> </h5>
            <p class="mb-0"> Telp : &nbsp;<a class="text-light" href="tel:+622127822372">+62 21 27822372</a></p>
            <p class="mb-0">Email : ptyndplanningindonesia@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="mb-0 mt-2">© 2019-2020 PT.YND Planning. All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</html>