{% load static %}
<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css'%}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/lightgallery.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

<body class="bg-light" style="	background-image: linear-gradient(to bottom, #FFFFFF, #0057BD);
  background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8)); background-position: left top; background-size: cover; background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img src="https://i.ibb.co/RT9P3jL/Screen-Shot-2020-01-06-at-13-09-16.png" width="30" height="30" class="d-inline-block align-top" alt=""></div>
      </div><a class="navbar-brand" href="/Homepage">PT YND PLANNING INDONESIA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/Homepage">Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Tentang">Tentang Kami</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <title>PT YNK PLANNING INDONESIA</title>
  <div class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
      <div class="swiper-container images-carousel">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Nature</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'img/img_1.jpg' %}" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Portrait</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'img/img_2.jpg' %}" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">People</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'img/img_3.jpg' %}" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Architecture</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'img/img_4.jpg' %}" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Animals</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'img/img_5.jpg' %}" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Sports</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'img/img_6.jpg' %}" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Travel</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'img/img_7.jpg' %}" alt="Image">
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
  <script src="{% static 'vendor/bootstrap/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/jquery-ui.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap-datepicker.min.js'%} "></script>
  <script src="{% static 'vendor/bootstrap/js/swiper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/picturefill.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/lightgallery-all.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/jquery.mousewheel.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/main.js' %}"></script>
  <script>
    $(document).ready(function() {
      $('#lightgallery').lightGallery();
    });
  </script>
  <br>
  <br>
  <footer>
    <div class="py-3 bg text-light" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-6 p-3">
            <h3 class="">PT.YND PLANNING INDONESIA</h3>
            <p style="" contenteditable="true">Jl.Adhyaksa Raya No.33 RT.006/RW.007<br>Kelurahan Lebak Bulus,Kecamatan Cilandak<br>Jakarta Selatan<br> Jl.Ciputat Rata.No.123.RT.001/RW.008,&nbsp;<br>Kelurahan Pondok Pinang,Kecamatan Kebayoran Lama<br>Jakarta Selatan 12310<br></p>
          </div>
          <div class="col-md-6 p-3">
            <h5> <b>Contact</b> </h5>
            <p class="mb-0"> Telp : &nbsp;<a class="text-light" href="tel:+622127822372">+62 21 7822373</a></p>
            <p class="mb-0">Email : ptyndplanningindonesia@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="mb-0 mt-2">© 2019-2020 PT.YND Planning. All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>