{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>PT.YNK PLANNING INDONESIA</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/small-business.css" rel="stylesheet">
</head>

<body style="	background-image: linear-gradient(to bottom, #FFFFFF, #0057BD);
    background-position: top left;	background-size: 100%;	background-repeat: repeat;" class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="	background-image: linear-gradient(to bottom, #0057BD, rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img src="https://i.ibb.co/RT9P3jL/Screen-Shot-2020-01-06-at-13-09-16.png" width="30" height="30" class="d-inline-block align-top" alt=""></div>
      </div><a class="navbar-brand" href="/Homepage">PT YND PLANNING INDONESIA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/Homepage">Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Tentang">Tentang Kami</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navigation -->
  <br>
  <br>
  <!-- Page Content -->
  <div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <!-- /.col-lg-8 -->
      <div class="col-lg-12 bg-light text-dark" style="	box-shadow: 0px 0px 4px  black;">
        <h1 class="font-weight-light text-dark">Selamat Datang di YND</h1>
        <p class="text-dark" contenteditable="true">PT. YND PLANNING INDONESIA adalah Suatu Perseroan Terbatas yang didirikan berdasarkan Hukum yang berlaku di Indonesia dengan status Penanaman Modal Asing (PMA) yang didirikan pada tahun 2018, PT. YND PLANNING INDONESIA bergerak dalam bidang Property yang dimiliki sendiri dan menyewakan kepada Pihak lain, selain itu bidang usaha lainnya adalah Konstruksi Bangunan dan Perdagangan Besar. </p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <!-- Call to Action Well -->
    <!-- Content Row -->
    <div class="row">
      <div class="col-md-6 mb-5" style="">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Profil Perusahaan</h2>
            <img class="img-fluid" src="https://i.ibb.co/RT9P3jL/Screen-Shot-2020-01-06-at-13-09-16.png" alt="Card image">
            <p class="card-text">PT. YND PLANNING INDONESIA bergerak dalam bidang Property yang dimiliki sendiri dan atau disewakan, selain itu bidang usaha lainnya adalah 
            Konstruksi Bangunan dan Perdagangan Besar .</p>
          </div>
          <div class="card-footer">
            <a href="/Tentang" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-6 mb-5" style="">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Kegiatan Usaha<br></h2>
            <img class="img-fluid" src="https://i.ibb.co/RT9P3jL/Screen-Shot-2020-01-06-at-13-09-16.png" alt="Card image">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <div class="container">
      <h3 class="text-light">Lokasi Kegiatan </h3>
      <div class="row">
        <div class="col-md-6 bg-light border-dark" style="	box-shadow: 0px 0px 4px  black;">
          <h3 class="text-dark">HWA TOWER<br></h3>
        </div>
        <div class="col-md-6 bg-light" style="	box-shadow: 0px 0px 4px  black;">
          <h3 class="">SEYEON Building</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 bg-light" style="	box-shadow: 0px 0px 4px  black;">
          <a href="https://www.google.com/maps/place/PT.+Prima+Layanan+Nasional+Enjiniring/@-6.2781854,106.7719234,15z/data=!4m5!3m4!1s0x0:0x521bbc0a34fac85!8m2!3d-6.2781854!4d106.7719234">
            <img class="img-fluid d-block" src="https://i.ibb.co/vHf7Vyq/Screen-Shot-2020-01-07-at-13-46-43.png"></a></div>
        <div class="col-md-6 bg-light" style="	box-shadow: 0px 0px 4px  black;">
          <a href="https://www.google.com/maps/place/SEYEON+BUILDING/@-6.2914146,106.7778881,17z/data=!3m1!4b1!4m5!3m4!1s0x2e69f14c991a256d:0xe87e2b9cf49a8417!8m2!3d-6.2914199!4d106.7800768">
            <img class="img-fluid d-block" src="https://i.ibb.co/0s1XRwG/Screen-Shot-2020-01-07-at-14-16-37.png" style=""></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <footer>
    <div class="py-3 bg-primary text-light " style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)); background-position: left top; background-size: 100%; background-repeat: repeat;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-6 p-3">
            <h3 class="">PT.YND PLANNING INDONESIA</h3>
            <p>Jl.Adhyaksa Raya No.33 RT.006/RW.007<br>Kelurahan Lebak Bulus,Kecamatan Cilandak<br>Jakarta Selatan<br> Jl.Ciputat Rata.No.123.RT.001/RW.008,&nbsp;<br>Kelurahan Pondok Pinang,Kecamatan Kebayoran Lama<br>Jakarta Selatan 12310<br></p>
          </div>
          <div class="col-md-6 p-3">
            <h5> <b>Contact</b> </h5>
            <p class="mb-0"> Telp : &nbsp;<a class="text-light" href="tel:+622127822372">+62 21 7822373</a></p>
            <p class="mb-0">Email : ptyndplanningindonesia@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="mb-0 mt-2">© 2019-2020 PT.YND Planning. All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /.container -->
  <!-- Footer -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="main.js"></script> 
</body>

</html>